<ion-header>
  <ion-toolbar>
    <ion-title>
      Calendario
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <table align="center" border="1" bordercolor="grey" width="80%" height="90%"> <tr bgcolor = "lightgreen">
      
      <th align="center" width="13.3%">Orario  </th>
      <th align="center" width="13.3%">Lunedì</th>
      <th align="center" width="13.3%">Martedì</th>
      <th align="center" width="13.3%">Mercoledì</th>
      <th align="center" width="13.3%">Giovedì</th>
      <th align="center" width="13.3%">Venerd</th>
      
  </tr> 
  <tr> <td align="center" width="13.3%">09:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">10:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">11:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">12:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">13:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">14:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">15:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">16:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">17:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
  <tr> <td align="center" width="13.3%">18:00</td><td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td> <td><ion-input value=""></ion-input></td></tr>
    </table>


    <table id="my_table">
      <tbody>
    
      </tbody>
    </table>
  
 

</ion-content>


